<div class="background">
    <div class="login-container">
        <div class="topo">
            <img src="/assets/integradados-icon.png" class="icone">
            <img src="/assets/integradados-nome.png" class="nome">
            <div class="texto">INTEGRAÇÃO PRECISA NEGÓCIOS CONFIÁVEIS</div>
        </div>
        
        <div class="login-error" *ngIf="msg && msg.length > 0"> {{msg}} </div>
        
        <div class="texto">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <md-input-container class="col-md-12">
                    <input mdInput placeholder="Usuário (admin)" formControlName="usuario">
                </md-input-container>            
                <md-input-container class="col-md-12">
                    <input type="password" mdInput placeholder="Senha  (admin)" formControlName="senha">
                </md-input-container>            
                <div class="btns" *ngIf="!aguardando">
                    <button type="submit" md-raised-button> Entrar </button>
                </div>
            </form>
        </div>
        <div class="loading" *ngIf="aguardando">
            <md-spinner></md-spinner>
        </div>
        
        <div class="rodape">
            <span class="empresa">2017 INTEGRADADOS | </span>
            <span class="email"> atendimento@integradados.com.br</span>
        </div>
    </div>
</div>