
.background {
    background-image: url("/assets/fundo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    
    @media (max-height: 420px){
        padding-top: 200px;
        padding-bottom: 100px;
        overflow: scroll;
    }
}

.login-container {
    width: 300px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);        
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .topo  {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        margin: 0px;
        padding: 0px 0px 10px 0px;
    
        img.icone {
            width: 90px;
        }
    
        img.nome {
            width: 150px;
        }

        .texto {
            font-size: 13px;
            padding-top: 5px;
        }
    }

    .login-error {
        width: 90%;
        background-color: #e6e6e6;
        border: 1px solid #bbb;
        padding: 5px;
        margin-top: 10px;
        border-radius: 3px;
        color: #525252;
        font-size: 12px;
        line-height: 20px;
    }

    .texto {
        flex-grow: 1;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        padding: 10px 0px 5px 0px;

        .btns {
            width: 100%;
            margin-top: 10px;
            padding: 0px 20px 10px 0px;
            display: flex;
            flex-direction: row-reverse;
        }
    }
    .loading {
        display: flex;
        justify-content: center;
        height: 36px;
        margin-bottom: 10px;
        margin-top: 0px;
        md-spinner { height: 36px; }
    }

    .rodape {
        display: flex;
        justify-content: space-between;
        color: #565656;
        font-size: 10px;
        padding: 10px 5px 20px 5px;
    
        .empresa {
            padding-right: 5px;
        }
    }

}

@media (max-width: 425px) {
    height: 80vh;
    margin-top: 15vh;
}
