<h1 md-dialog-title>Remover usuário</h1>
<div md-dialog-content>
    Tem certeza de que deseja remover o usuário <span class="destaque">{{data.nomeCompleto}}</span> ?
</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="confirmar">Confirmar</button>
  <button md-button md-dialog-close="cancelar">Cancelar</button>
</div>