<h1 md-dialog-title>Remover rede</h1>
<div md-dialog-content>
    Tem certeza de que deseja remover a rede <span class="destaque">{{data.nome}}</span> ?
</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="confirmar">Confirmar</button>
  <button md-button md-dialog-close="cancelar">Cancelar</button>
</div>