
<layout [carregando]="carregando">
    <div class="layout-title">
        Lista de clientes
    </div>
    <div class="layout-content">
        <div class="caixa-conteudo">
            <div class="titulo"> 
                <div class="texto">Clientes</div>
                <div class="botoes">
                    <button 
                        routerLink="/cliente/criar"
                        md-raised-button> Cadastrar cliente </button>
                </div>
            </div>
            <div class="corpo-caixa preencher">
                <tabela-entidade 
                    [colunas]="campos_tabela" 
                    (detalhesItem) = "editar($event)"
                    (removerItem) = "remover($event)"
                    [acoes]="['detalhes', 'remover']"
                    [dados]="dados">
                </tabela-entidade>
                <div *ngIf="!dadosBehaviorSubject.value.length && !carregando" class="estado-vazio">
                    Não existem clientes cadastrados.
                </div>
            </div>
        </div>
    </div>
</layout>
