<layout>
    <div class="layout-title">
        Cliente: {{_titulo}}
    </div>
    <div class="layout-content">
        <md-tab-group class="abas">
            <md-tab label="Cadastro">
                <div class="tab-cadastro-container">
                    <div class="caixa-conteudo">
                        <div class="corpo-caixa">
                            
                            <div class="row">
                                <md-input-container class="col-md-4">
                                    <input mdInput placeholder="Data de cadastro" readonly value="21/8/2017">
                                </md-input-container>
                                <md-input-container class="col-md-4">
                                    <input mdInput placeholder="Ultimo upload" readonly value="1/8/2015">
                                </md-input-container>
                                <md-input-container class="col-md-4">
                                    <input mdInput placeholder="Status" readonly value="Ativo">
                                </md-input-container>                 
                                <md-input-container class="col-md-4">
                                    <input mdInput placeholder="Qtde registos cadastrados" readonly value="58">
                                </md-input-container>                   
                            </div>
                        </div>
                    </div>
                    <cliente-form [cliente]="clienteForm"> </cliente-form>
                </div>
            </md-tab>
            <md-tab label="Usuários">
                Usuarios do cliente
            </md-tab>
            <md-tab label="Terceiros">
                    Terceiros do cliente
            </md-tab>    
        </md-tab-group>
    </div>
</layout>

