.tab-cadastro-container {
    padding: 20px 50px 20px 50px;
    @media (max-width: 1024px) {
        padding: 20px;
    }
}

md-tab-group {
    margin: -20px -50px -20px -50px;

    @media (max-width: 1024px) {
        margin: -20px;
    }
}