@import "../../../../arquivos-estilo/styles.scss";

div.ig-container {
    line-height: $menu-topo-altura;
    flex-direction: row-reverse;
    display: flex;
    padding-right: 50px;

    .name {
        position: relative;
        white-space: nowrap;
        overflow-x: hidden;
        padding-top: 20px;
        padding-left: 10px;

        /* Fade out username on small devices */
        @media (max-width: 425px){
            max-width: 200px;
            &:after {
                content: "";
                pointer-events: none;
                position: absolute;
                width: 20px;
                height: 100%;
                top: 0; right: 0;
                background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            }
        }

        .username {
            line-height: 12px;
        }

        .user-type {
            line-height: 20px;
            font-size: 12px;
            
            .type {
                font-weight: bold;
                color: green;
            }
        }
    }


    @media (max-width: 1024px) {
        padding-right: 20px;
    }

    .icons {
        margin-top: 10px;
    }
}


.notification-container {
    padding: 10px 10px 0px 10px;
    
    .titulo {
        font-weight: bold;
        font-size: 14px;
    }

    .texto {
        margin-top: 10px;
        border-top: 1px solid #666;
        font-size: 12px;
        padding: 10px 5px 15px 5px;
    }

    .acoes {
        display: flex;
        flex-direction: row-reverse;
    }

}