<div class="ig-container" *ngIf="usuario || true">
    <div class="name">
        <!-- {{usuario.nomeCompleto}} ({{usuario.categoria}}) -->
        <div class="username">Nome do usuário</div>
        <div class="user-type"> Função: <span class="type">Gestor</span></div>
    </div>
    <button md-icon-button class="icons" [mdMenuTriggerFor]="menuUsuario">
        <md-icon>settings</md-icon>
    </button>
    <button md-icon-button class="icons" [mdMenuTriggerFor]="notificationMenu" #notificationTrigger="mdMenuTrigger">
        <md-icon>warning</md-icon>
    </button>    
    
    <md-menu #menuUsuario="mdMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
        <button md-menu-item (click)="sair()">
            Sair
        </button>
    </md-menu>
    
    <md-menu #notificationMenu="mdMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <div class="notification-container" (click)="notificationClick($event)">
            
            <div class="titulo">Mensagem para usuário</div>
            <div class="texto">
                Bom dia Gertrudes,
                Aguardo o envido dos relatórios como combinado.
            </div>
            <div class="acoes">
                <button md-icon-button class="ok" (click)="removerNotificacao()">
                    OK
                </button>                   
            </div>
            
        </div>
    </md-menu>
    
</div>
