<layout [carregando]="carregando">
    <div class="layout-title">Lista de usuários</div>
    <div class="layout-content">
        <div class="caixa-conteudo">
            <div class="titulo"> 
                <div class="texto"> Usuários </div>
                <div class="botoes">
                    <button md-raised-button routerLink="/usuario/cadastro"> Cadastrar usuário </button>
                </div>
            </div>
            <div class="corpo-caixa preencher">
                <tabela-entidade 
                    [colunas]="campos_tabela" 
                    (editarItem) = "editarUsuario($event)"
                    (removerItem) = "removerUsuario($event)"
                    [acoes]="['editar', 'remover']"
                    [dados]="dados">
                </tabela-entidade>
                <div *ngIf="!dadosBehaviorSubject.value.length && !carregando" class="estado-vazio">
                    Não existem usuários cadastrados.
                </div>
            </div>
        </div>
    </div>
</layout>