
/* VARIAVEIS */
$menu-topo-altura: 60px;
$menu-lateral-largura: 230px;
$cor-acentuacao: #388E3C;

/* MIXINS */

@mixin calc-height ($porcentagem, $sobra) {
    height: -webkit-calc(#{$porcentagem} - #{$sobra});
	height: -moz-calc(#{$porcentagem} - #{$sobra});
	height: calc(#{$porcentagem} - #{$sobra});
} 

@mixin calc-width ($porcentagem, $sobra) {
    width: -webkit-calc(#{$porcentagem} - #{$sobra});
	width: -moz-calc(#{$porcentagem} - #{$sobra});
	width: calc(#{$porcentagem} - #{$sobra});
} 
