@import "./configuracoes.scss";

body {
    margin: 0px;
    height: 100%;
    font-size: 16px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;    
}

/* 
    COMPONENTES CSS 
*/

/* CAIXA CONTEUDO */
.caixa-conteudo {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.03);
    margin-bottom: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);        

    .titulo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 50px;
        border-bottom: 1px solid #e4e4e4;
        line-height: 50px;
        padding-left: 18px;
        padding-right: 18px;
        background: rgba(0, 0, 0, 0.03);

        .texto {
            font-weight: bold;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.54);
        }

        .botoes {
            display: flex;
            align-items: center;

            button {
                height: 35px;
                margin-right: 10px;
            }
        }
    }

    .corpo-caixa:not(.preencher) {
        padding: 20px;
    }
}

/* SECAO DE FORMULARIO */

form {
    .form-section {
        width: 100%;
        padding: 0px;
        margin: 10px 0px 20px 0px;
        
        .section-title {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding-left: 20px;
            background-color: $cor-acentuacao;
            color: #fff;
        }
        
        .section-body {
            padding: 10px 10px 0px 10px;
            
            @media (max-width:1024px) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}


/* 

    SOBRESCREVENDO CSS DO ANGULAR MATERIAL 

*/

// MD TABLE
md-table {
    text-align: center !important;
}

// MD CHECKBOX
md-checkbox.mat-checkbox {
    margin: 20px 0px 10px 0px;    
}

// MD INPUT
md-input-container.mat-input-container {
    display: block;

    /* 
        Escurecido a cor do placeholder
        de inputs de formulario.
    */
    &.ng-valid label.mat-input-placeholder {
        color: #555;
    }
    &.ng-untouched label.mat-input-placeholder {
        color: #555;
    }    
}

// MD SELECT
md-select.mat-select:not(.mat-paginator-page-size-select) {
    margin: 20px 0px 10px 0px;    
}
@media (max-width:425px){
    md-select {
        width: 100%;
    }
}
/* 
    Escurecido a cord dos textos de selects
    de formularios.
*/
md-select.mat-select.ng-valid .mat-select-placeholder {
    color: #555;
}
md-select.mat-select.ng-untouched .mat-select-placeholder {
    color: #555;
}


