@import "../../../../arquivos-estilo/styles.scss";

.header {
    height: $menu-topo-altura;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    .nav-btn {
        flex-shrink: 0;
    }

    button.mat-button {
        flex-grow: 0;
        width: 60px;
        height: $menu-topo-altura;
        padding: 0px 0px 0px 0px;
        min-width: initial;
    }
    
    .logo-icon {
        flex-grow: 0;
        height: 50px;
        margin-top: 5px;
        margin-right: 10px;
    }

    .logo-container {
        .logo {
            flex-grow: 0;
            height: 25px;
            margin-top: 10px;
        }
        .texto  {
            padding-left: 3px;
            font-size: 10px;
            font-weight: bold;
            color: #333;
        }
    }
    


    menu-usuario {
        flex-grow: 1;
        @media (max-width: 425px){
            max-width: 250px;
        }
    }

}

.global-progress-bar {
    position: fixed;
    top: $menu-topo-altura;
    left: $menu-lateral-largura;
    @include calc-width(100%, $menu-lateral-largura);  
    z-index: 10;

    &.full-width {
        width: 100%;
        left: 0;
    }
}

.sidenav-container {
    @include calc-height(100vh, $menu-topo-altura);  
    margin-top: $menu-topo-altura;

    md-sidenav {
        @include calc-height(100vh, $menu-topo-altura);
        width: $menu-lateral-largura;
        &.fixa {box-shadow: 2px 0px 11px 0 rgba(0, 0, 0, 0.26);}
        padding: 0px;
        margin: 0px;

        .navegacao {
            padding: 0px;
            list-style: none;
            border-bottom: 1px solid #ccc;

            > li.item-nav {
                cursor: pointer;
                padding-left: 15px;
                font-size: 14px;
                height: 47px;
                line-height: 47px;
                border-top: 1px solid #ccc;
                transition: all 0.25s ease;

                &.atual {
                    // color: $cor-acentuacao;
                    // font-weight: bold;
                    background-color: #ebebeb;
                }
                
                &:hover {
                    // color: $cor-acentuacao;
                    // font-weight: bold;
                    background-color: #ebebeb;
                }
            }

            > li.categoria {
                padding-left: 15px;
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                background-color: rgba(0, 0, 0, 0.15);
                border-top: 1px solid #bfbfbf;
                color: $cor-acentuacao;
                font-weight: bold;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .layout-titulo {
        width: 100%;
        height: 137px;
        background-color: #fafafa;
        border-bottom: 1px solid #e6e6e6;

        h1 {
            font-size: 30px;
            font-weight: 300;
            color: $cor-acentuacao;
            margin: 0px;
            padding-left: 50px;
            padding-top: 50px;
        }

        @media (max-width: 1024px) {
            height: 80px;

            h1 {
                font-size: 22px;
                padding-top: 25px;
            }
        }
    }

    .msg-global {
        @include calc-width(100%, 100px);  
        margin: 10px 50px 0px 50px;
        padding: 10px;
        font-size: 14px;
        color: #fff;    
        background-color: $cor-acentuacao;
        border: 1px solid #fff;
        border-radius: 3px;

        @media (max-width: 1024px) {
            margin: 10px 20px 10px 20px;
            @include calc-width(100%, 40px);  
        }        

        .msg {
            margin-bottom: 0px;
            padding: 5px 0px 5px 0px;
            border-bottom: 1px solid #49a07c;

            &:last-child {
                margin-bottom: 0px;
                padding-bottom: 0px;
                border: 0px;
            }

            &:first-child {
                padding-top: 0px;
            }
        }
    }

    .layout-conteudo {
        padding: 20px 50px 20px 50px;

        @media (max-width: 1024px) {
            padding: 20px;
        }
    }

}