
<!--  -->


<!-- Topo  -->
<div class="header">
    <button md-button (click)="toggle()" class="nav-btn">
      <md-icon>menu</md-icon>
    </button>
    <img src="assets/integradados-icon.png" class="logo-icon"> 
    <div class="logo-container hidden-xs">
      <img src="assets/integradados-nome.png" class="logo"> 
      <div class="texto">INTEGRAÇÃO PRECISA NEGÓCIOS CONFIÁVEIS</div>
    </div>
    <menu-usuario></menu-usuario>
</div>
<md-progress-bar 
  *ngIf="carregando"
  mode="indeterminate"
  color="primary"
  [ngClass]="{'global-progress-bar':true, 'full-width': mode == 'over'}">
</md-progress-bar> 

<!-- Gaveta com navegação lateral  -->
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav (window:resize)="resize()" [mode]="mode" [ngClass]="{fixa: mode == 'side'}">
    
    <ul class="navegacao">
      <ng-container *ngFor="let configMenu of menuNavegacao;">
        <li class="categoria"> {{configMenu.textoCategoria}} </li>
        <li 
          class="item-nav"
          routerLink={{item.url}}
          [ngClass]="{'item-nav': true, 'atual': item.nome == menuAtualNome}"
          *ngFor="let item of configMenu.items">
           {{item.texto}}
        </li>

      </ng-container>
    </ul>

    <!-- <li class="item-nav" [ngClass]="{'item-nav': true, 'atual': 'cliente' == pagina}"> Lista de clientes </li> -->
  </md-sidenav>

  <!-- titulo da pagina -->
  <div class="layout-titulo">
    <h1> <ng-content select=".layout-title"></ng-content> </h1>
  </div>

  <!-- MENSAGENS  -->
  <div class="msg-global" *ngIf="mensagens.length">
    <div class="msg" *ngFor="let msg of mensagens;">{{msg}}</div>
  </div>

  <!--conteudo da pagina  -->
  <div class="layout-conteudo">
    <ng-content select=".layout-content"></ng-content>
  </div>

</md-sidenav-container>