
<layout [carregando]="carregando">
    <div class="layout-title">
        Lista de redes
    </div>
    <div class="layout-content">
        
        <div class="caixa-conteudo">
            <div class="titulo">
                <div class="texto">Redes</div>
                <div class="botoes">
                    <button
                        routerLink="/rede/cadastro"
                        md-raised-button>
                        Cadastrar Rede </button>
                </div>
            </div>
            <div class="corpo-caixa preencher">
                <tabela-entidade
                    [colunas] = "campos_tabela"
                    [dados] = "dados"
                    [acoes] = "['editar', 'remover']"
                    (removerItem) = "removerItem($event)"
                    (editarItem) = "editarItem($event)">
                </tabela-entidade>
                <div *ngIf="!dadosBehaviourSubject.value.length && !carregando" class="estado-vazio">
                    Não existem redes cadastradas.
                </div>
            </div>
        </div>

    </div>
</layout>