

.envio-arquivo {
    
    .file-input {
        margin-top: 12px;
        margin-bottom: 12px;
        
        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        
        label {
            display: inline-block;
            font-size: 13px;
            cursor: pointer;
            height: 36px;
            line-height: 36px;
            padding: 0px 10px 0px 10px;
            border-radius: 2px;
            background-color: #388E3C;
            color: #fff;
        }
        
        span {
            padding-left: 10px;
            font-size: 14px;
        }
    }
    
    .enviar {
        margin-top: 12px;

        .loading md-spinner {
            height: 30px;
            width: 30px;
        }
    }
}

.estado-vazio {
    padding: 20px;
    font-size: 12px;
}