<layout [carregando]="carregando">
    <div class="layout-title">Contribuintes SEFAZ</div>
    <div class="layout-content">
        
        
        <div class="caixa-conteudo">
            <div class="titulo"> 
                <div class="texto">Envio de arquivo</div>
            </div>

            <div class="corpo-caixa envio-arquivo">
                
                <div class="row">
                    <md-select
                        placeholder = "Cidade"
                        name = "cidade"
                        class="col-md-4">
                        <md-option 
                            [value] = "option.value"
                            *ngFor="let option of cidadeOptions">
                            {{option.texto}}
                        </md-option>                    
                    </md-select>

                    <div class="col-md-8 file-input">
                        <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader"/>
                        <label for="file" > Selecionar arquivo </label>
                        <span *ngIf="uploader.queue.length"> {{uploader.queue[uploader.queue.length-1].file.name}} </span>
                        <span *ngIf="!uploader.queue.length"> Arquivo não escolhido. </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 enviar">
                        <button type="button" md-raised-button (click)="enviar()" *ngIf="!enviando">
                            Enviar
                        </button>      
                        <div class="loading" *ngIf="enviando">
                            <md-spinner></md-spinner>
                        </div>              
                    </div>
                </div>
        </div>
    </div>
    
    <div class="caixa-conteudo">
        <div class="titulo"> Contribuintes </div>
        <div class="corpo-caixa preencher">
            <tabela-entidade 
            [colunas]="campos_tabela" 
            [dados]="dados">
        </tabela-entidade> 
        <div *ngIf="!dadosBehaviorSubject.value.length && !carregando" class="estado-vazio">
            Não existem contribuintes cadastrados.
        </div>
    </div>
</div>
</div>
</layout>