
<div class="caixa-conteudo">
    <div class="titulo"> Empresa afiliada </div>
    <div class="corpo-caixa">
        <form [formGroup]="formularioCliente">
            <div class="row">
                <!-- Selecionar rede  -->
                <md-select
                    placeholder = "Selecione a rede"
                    formControlName = "rede"
                    name = "rede"
                    class="col-md-4">
                    <md-option 
                        *ngFor="let option of redeOptions"
                        [value] = "option.value">
                        {{option.viewValue}}
                    </md-option>                    
                </md-select>                
                <!-- Selecionar cliente  -->
                <md-select
                placeholder = "Selecione o cliente"
                formControlName = "cliente"
                name = "cliente"
                class="col-md-4">
                <md-option 
                    *ngFor="let option of clienteOptions"
                    [value] = "option.value">
                    {{option.viewValue}}
                </md-option>                    
            </md-select>                
            </div>
        </form>
    </div>
</div>