

<layout [carregando]="carregando">
        <div class="layout-title">
            Terceiros Restritos
        </div>
        <div class="layout-content">
            
            <div class="caixa-conteudo">
                <div class="titulo">
                    <div class="texto">Restritos</div>
                </div>
                <div class="corpo-caixa preencher">
                    <tabela-entidade
                        [colunas] = "campos_tabela"
                        [dados] = "dados"
                        (removerItem)="removerItem($event)"
                        (editarItem)="editarItem($event)"
                        [acoes] = "[]">
                   </tabela-entidade>
                    <div *ngIf="!dadosBehaviorSubject.value.length && !carregando" class="estado-vazio">
                        Não existem terceiros restritos.
                    </div>
                </div>
            </div>
    
        </div>
    </layout>