.acoes {
    display: flex;
    justify-content: center;
}

.tabela-entidade {

    md-header-cell.mat-header-cell {
        font-weight: bold;
        color: #666666;
    }

    md-cell.mat-cell {
        font-weight: bold;
    }

}