
<md-table #table [dataSource]="fonteDados" class="tabela-entidade">

    <ng-container *ngFor="let coluna of colunas;">
        <ng-container cdkColumnDef="{{coluna.nome}}">
            <md-header-cell *cdkHeaderCellDef> {{coluna.texto}} </md-header-cell>
            <md-cell *cdkCellDef="let linha"> 
                {{linha[coluna.nome] ? linha[coluna.nome] : '-'}} 
            </md-cell>
        </ng-container>

        <!-- Ações -->
        <ng-container cdkColumnDef="acoes" *ngIf="acoes.length > 0">
                <md-header-cell *cdkHeaderCellDef> Acões </md-header-cell>
                <md-cell *cdkCellDef="let linha"> 
                    <div class="acoes">
                        <button md-icon-button *ngIf="acoes.includes('editar')">
                            <md-icon (click)="edit(linha)">edit</md-icon>
                        </button>
                        <button md-icon-button *ngIf="acoes.includes('detalhes')">
                            <md-icon (click)="detalhes(linha)" >settings</md-icon>
                        </button>                        
                        <button md-icon-button *ngIf="acoes.includes('remover')">
                            <md-icon (click)="remove(linha)" >delete</md-icon>
                        </button>
                    </div>                     
                </md-cell>
        </ng-container>
        
    </ng-container>

    <md-header-row *cdkHeaderRowDef="colunaNomes"></md-header-row>
    <md-row *cdkRowDef="let linha; columns: colunaNomes;"></md-row>
    
</md-table>