<div class="caixa-conteudo">
        <!-- <div class="titulo">Informações gerais</div> -->
        <div class="corpo-caixa">
            
            <form [formGroup] = "formularioCliente" #formCliente novalidate id="form-cliente" (ngSubmit)="onSubmit()">
                
                <div class="row">
                    <md-select placeholder="Rede" name="rede" formControlName="codigoDaRede" class="col-md-4">
                        <md-option *ngFor="let option of redeOpcoes" [value]="option.value">
                            {{option.texto}}
                        </md-option>
                    </md-select>                
                </div>
                
                <div class="form-section">
                    <div class="section-title"> Informações da empresa </div>
                    <div class="section-body">
                        <div class="row">
                            <md-select placeholder="Tipo de cliente" name="tipo" formControlName="tipo" class="col-md-4">
                                <md-option *ngFor="let option of tipoPessoaSelectOptions" [value]="option.value">
                                    {{option.texto}}
                                </md-option>
                            </md-select>
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Cpf / Cnpj" formControlName="cnpjCpf">
                                <md-error *ngIf="true">
                                    Campo obrigatório.
                                </md-error>                        
                            </md-input-container>
                            <md-input-container class="col-md-4">
                                <input mdInput formControlName="inscricaoEstadual" placeholder="Incrição estadual">
                            </md-input-container>
                            <md-input-container class="col-md-4">
                                <input mdInput formControlName="inscricaoMunicipal" placeholder="Inscrição municipal">
                            </md-input-container>                
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Razão social" formControlName="razaoSocial">
                            </md-input-container>
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Nome fantasia" formControlName="nomeFantasia">
                            </md-input-container>                
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Segmento comercial" formControlName="segmentoComercial">
                            </md-input-container>   
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Cidade" formControlName="cidade">
                            </md-input-container>                
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="uf" formControlName="uf">
                            </md-input-container>                
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Endereço" formControlName="endereco">
                            </md-input-container>                        
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Dia de emissão de NF" formControlName="diaEmissaoNF">
                            </md-input-container>                
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Valor da parcela" formControlName="valorParcela">
                            </md-input-container>                
                            <md-input-container class="col-md-12">
                                    <textarea mdInput formControlName = "comentario" placeholder="Comentários"></textarea>
                            </md-input-container>                  
                        </div>
                    </div>
                </div>
                
                <div class="form-section">
                    <div class="section-title">Departamento Financeiro</div>
                    <div class="section-body">
                        <div class="row">
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Telefone" formControlName="foneFinanceiro">
                            </md-input-container>                  
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Email" formControlName="emailFinanceiro">
                            </md-input-container>                  
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Nome do contato" formControlName="nomeContatoFinanceiro">
                            </md-input-container>                  
                        </div>
                    </div>
                </div>
    
                <div class="form-section">
                    <div class="section-title">Empresa de TI</div>
                    <div class="section-body">
                        <div class="row">
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Telefone" formControlName="foneEmpresaTI">
                            </md-input-container>                  
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Email" formControlName="emailEmpresaTI">
                            </md-input-container>                  
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Razão social" formControlName="razaoSocialEmpresaTI">
                            </md-input-container>                  
                            <md-input-container class="col-md-4">
                                <input mdInput placeholder="Nome do contato" formControlName="nomeContatoEmpresaTI">
                            </md-input-container>                  
                        </div>    
                    </div>
                </div>
                
    
            </form> 
            
        </div>
    </div> 
    
    
    <div class="caixa-conteudo">
        <!-- <div class="titulo">Confirmar</div> -->
        <div class="corpo-caixa acoes">
            <button 
            [disabled]="aguardandoResposta"
            md-raised-button class="cancelar" color="warn"
            (click) = "onCancel()"> 
            Cancelar
        </button>
        <button 
            form="form-cliente"
            [disabled]="aguardandoResposta"
            md-raised-button class="confirmar"
            color="primary">
            Salvar 
            </button>
        </div>
    </div>
    