
.lista-propriedade {
    display: flex;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    line-height: 49px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .propriedade {
        padding: 0px;
        flex-grow: 1;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.54);
    }

}

.lista-entidades {
    margin: 0px 0px 50px 0px;
    padding: 0px;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
    .entidade {
        line-height: 49px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0px 20px 0px 20px;

        &:last-child  {
            border-bottom: 0px;
        }

        .entidade-valores {
            margin: 0px;
            padding: 0px;        
            list-style: none;
            display: flex;

            .valor {
                flex-basis: 50px;
                font-size: 14px;
                color: #000;
                flex-grow: 1;
            }
        }


    }
}


