

<div class="lista-propriedade">
    <div *ngFor="let propriedade of propriedades;" class="propriedade"> {{propriedade.texto}} </div>
    <div class="propriedade"> Ações </div>
</div>

<div class="lista-entidades">
    <div class="entidade" *ngFor="let entidade of entidades;">
        <div class="entidade-valores">
            <div *ngFor="let propriedade of propriedades" class="valor">
                {{entidade[propriedade.nome]}}
            </div>

            <div class="valor">
                 <button md-icon-button><md-icon>edit</md-icon></button>
                 <button md-icon-button><md-icon>delete</md-icon></button>
            </div>

        </div>
    </div>
</div>
