
<layout>
    <div class="layout-title">
        Cadastro de rede
    </div>
    <div class="layout-content">
        
        <div class="caixa-conteudo">
            <div class="titulo">Dados gerais</div>
            <div class="corpo-caixa">
                <form [formGroup]="formularioRede" novalidate id="form-rede" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <md-input-container class="col-md-6">
                            <input mdInput formControlName = "nome" placeholder="Nome da rede">
                            <md-error>
                                Campo obrigatório
                            </md-error>
                        </md-input-container>
                    </div>     
                    <div class="row">
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="inicioPrimeiraFaixa" placeholder="Inicio da primeira faixa" type="number">
                        </md-input-container>                    
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="fimPrimeiraFaixa" placeholder="Fim da primeira faixa" type="number">
                        </md-input-container>                                            
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="inicioSegundaFaixa" placeholder="Inicio da segunda faixa" type="number">
                        </md-input-container>                    
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="fimSegundaFaixa" placeholder="Fim da segunda faixa" type="number">
                        </md-input-container>                                            
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="inicioTerceiraFaixa" placeholder="Inicio da terceira faixa" type="number">
                        </md-input-container>                    
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="fimTerceiraFaixa" placeholder="Fim da terceira faixa" type="number">
                        </md-input-container>                                            
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="inicioQuartaFaixa" placeholder="Inicio da quarta faixa" type="number">
                        </md-input-container>                    
                        <md-input-container class="col-md-3">
                            <input mdInput formControlName="fimQuartaFaixa" placeholder="Fim da quarta faixa" type="number">
                        </md-input-container>                                            
                    </div>                                                                          
                </form>
            </div>
        </div>
        
        <div class="caixa-conteudo">
            <!-- <div class="titulo">Confirmar</div> -->
            <div class="corpo-caixa acoes">
                <button 
                [disabled]="aguardandoResposta"
                md-raised-button class="cancelar" color="warn"
                (click) = "onCancel()"> 
                Cancelar
            </button>
            <button 
            form="form-rede"
            [disabled]="aguardandoResposta"
            md-raised-button class="confirmar"
            color="primary">
            Salvar 
            </button>
    </div>
</div>     


</div>
</layout>