<layout>
        <div class="layout-title"> Usuário: {{_titulo}}</div>
        <div class="layout-content">
            <div class="caixa-conteudo">
                    <div class="titulo"> Empresa afiliada </div>
                    <div class="corpo-caixa">
                        <form [formGroup]="formularioCliente">
                            <div class="row">
                                <!-- Selecionar rede  -->
                                <md-select
                                    placeholder = "Selecione a rede"
                                    formControlName = "rede"
                                    name = "rede"
                                    class="col-md-4">
                                    <md-option 
                                        *ngFor="let option of redeOptions"
                                        [value] = "option.value">
                                        {{option.viewValue}}
                                    </md-option>                    
                                </md-select>                
                                <!-- Selecionar cliente  -->
                                <md-select
                                placeholder = "Selecione o cliente"
                                formControlName = "cliente"
                                name = "cliente"
                                class="col-md-4">
                                <md-option 
                                    *ngFor="let option of clienteOptions"
                                    [value] = "option.value">
                                    {{option.viewValue}}
                                </md-option>                    
                            </md-select>                
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="caixa-conteudo">
                    <div class="titulo"> Informações gerais </div>
                    <div class="corpo-caixa">
                
                        <form [formGroup]="formularioUsuario" #formUsuario novalidate>
                            
                            <!-- Tipo de usuário  -->
                            <div class="row">
                                <md-select
                                    placeholder = "Tipo de usuário"
                                    formControlName = "categoria"
                                    name = "tipo"
                                    class="col-md-4">
                                    <md-option 
                                        [value] = "option.value"
                                        *ngFor="let option of tipoUsuarioOptions">
                                        {{option.texto}}
                                    </md-option>                    
                                </md-select>
                                <md-select
                                formControlName = "sexo"
                                placeholder = "Sexo"
                                name = "tipo"
                                class="col-md-2">
                                    <md-option 
                                        [value] = "option.value"
                                        *ngFor="let option of sexoOptions">
                                        {{option.texto}}
                                    </md-option>                    
                                </md-select>             
                            </div>
                            <div class="row">
                                <md-input-container class="col-md-6">
                                    <input formControlName = "nomeCompleto" mdInput placeholder="Nome Completo">
                                </md-input-container>
                                <md-input-container class="col-md-6">
                                    <input mdInput formControlName = "nomeAbreviado" placeholder="Nome Abreviado">
                                </md-input-container>
                            </div>
                            <div class="row">
                                    <md-input-container class="col-md-6">
                                        <input mdInput formControlName = "email" placeholder="Email" type="email">
                                    </md-input-container>
                                    <md-input-container class="col-md-6">
                                        <input mdInput formControlName = "descricaoFuncao" placeholder="Descrição da Função">
                                    </md-input-container>                
                            </div>
                            <div class="row">
                                    <md-input-container class="col-md-3">
                                        <input mdInput formControlName = "telefoneFixo" placeholder="Telefone fixo">
                                    </md-input-container>
                                    <md-input-container class="col-md-3">
                                        <input mdInput formControlName = "telefoneCelular" placeholder="Telefone celular">
                                    </md-input-container>                
                            </div>
                            <div class="row">
                                <md-input-container class="col-md-3">
                                    <input mdInput formControlName = "senha" placeholder="Senha" type="password">
                                </md-input-container>                
                                <md-input-container class="col-md-3">
                                    <input mdInput formControlName = "senha_confirmar" placeholder="Confirmar Senha" type="password">
                                </md-input-container>                  
                            </div>
                            <div class="row">
                                <md-input-container class="col-md-12">
                                        <textarea mdInput formControlName = "informacoesAdicionais" placeholder="Informações adicionais"></textarea>
                                </md-input-container>                
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="caixa-conteudo">
                    <div class="corpo-caixa acoes">
                        <button 
                        md-raised-button class="cancelar" color="warn"
                        (click) = "onCancel()"> 
                        Cancelar
                        </button>
                        <button 
                        md-raised-button class="confirmar"
                        color="primary" (click)="onSubmit()">
                        Salvar 
                        </button>
                    </div>
                </div>
            
        </div>
    </layout>